body{
    background-color: rgb(241, 225, 147);
    text-align: center;
}
.cover{
    width: 800px;
    height: 400px;
    margin-top: 50px;
    display: flex;    
}
.box{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
    width: 300px;
    height: 400px;
    box-shadow: -1px 0 10px #090505;
    align-items: center;
    justify-content: center;
    text-align: center;

}
button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(3, 3, 9);
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; 
    
}
img{
    width: 300px;
    height: 200px;
    object-fit: contain;
}
button{
    height: 30px;
    width:70px;
    background-color: rgb(142, 91, 40);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.add{
    margin-top: 70%;
    margin-left: 50%;
    width:50px;
    height: 50px;
    font-size: 50px;
    background:transparent;
    text-align: center;
    border-radius: 15px;
}